body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

header h1 {
	margin: 0;
}

main {
	padding: 2rem;
}

section {
	margin-bottom: 2rem;
}

section h2 {
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 0.5rem;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}